* {
	margin: 0;
	padding:0;

}
video {
	position: absolute;
	position: fixed;
	width: 100%;
	height:100%;
	object-fit: cover;

	z-index:-1;
}


.header {
	background: black;
	display: flex;
	align-items: center;
	width: 100%;
}

@media screen and (max-width: 500px) {
	.header {
		background: black;
		display: block;
		text-align: center;
	}
	.nav {
		width: 315px;
		margin: 0px auto;
	}

	.nav a {
		font-size: 12px;
	}
}

.header img {
	width: 80px;
	margin: 15px;
}

.nav {
	height: 30px;
	padding-top: 10px;
	flex: 2;
	text-align: right;
}

.menu2 {
	margin: 5px;
	background-image: linear-gradient(#07771a,#07771a);
	background-repeat: no-repeat;
	background-size: 0% 100%;
	background-position-x: right;

	transition: background-size 500ms; 
}

.menu2:hover {
	background-size: 100% 100%;
	background-position-x: left;

}

.nav a {
	font-family: 'Roboto Condensed', sans-serif;
	text-decoration: none;
	color: white;
	padding: 10px;
	font-size: 1fr;
}

.contenedortitulo {
	text-align: center;
	width: 40%;
	margin: 0px auto;
}

.contenedortitulo h1 {
	font-family: 'Roboto Condensed', sans-serif;
	background: black;
	border-radius: 25px;
	padding: 10px;
	color: white;
	text-align: center;
}

@media screen and (max-width: 500px) {
	.contenedortitulo {
		width: 75%
	}

}


.cont {
	borrder: 2px solid black;
	align-items: center;

}
.contenedorimagenes {

	margin: 10px auto;
	width: 1fr;
	height: 1fr;
	display: flex;
	justify-content: center;

}

.contenedorimagenes2 {

	margin: 10px auto;
	width: 1fr;
	height: 1fr;
	display: flex;
	justify-content: center;

}

.contenedorimg1 {
	background: black;
	border-radius: 25px;
	text-align: center;
	margin: 10px ;
	width:170px;
}

.contenedorimg2 {

	background: black;
	border-radius: 25px;
	text-align: center;
	margin: 10px ;
	width:170px;
}


.contenedorimg3 {

	background: black;
	border-radius: 25px;
	text-align: center;
	margin: 10px ;
	width:170px;
}


.contenedorimg4 {
	background: black;
	border-radius: 25px;
	text-align: center;
	margin: 10px ;
	width:170px;
}



.contenedorimg1 img{
	width: 95%;
	padding-top: 10px;
}

.contenedorimg2 img{
	width: 70%;
	padding-top: 10px;
}

.contenedorimg3 img {
	width: 85%;
	padding-top: 20px;
}

.contenedorimg4 img {
	width: 70%;
	padding-top: 30px;

}

.htmltext {
	border-radius: 25px;

}

.contenedorimg1 h2  {
	font-family: 'Roboto Condensed', sans-serif;
	padding-top: 10px;
	text-align: center;
	color: white;

}

.contenedorimg2 h2  {
	font-family: 'Roboto Condensed', sans-serif;
	padding-top: 10px;
	text-align: center;
	font-size: 25px;
	color: white;

}

.contenedorimg3 h2 {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	padding-top: 10px;
	font-size: 25px;
	color: white;
}
.contenedorimg4 h2 {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	padding-top: 10px;
	font-size: 25px;
	color: white;
}



.contenedorfooter {
	padding-top: 30px;
	height: 40px;
	display: flex;
	bordder: 2px solid white;

}

.footer {
	background: black;
	width: 100%;
	height: 100%;
}


.copyright span p {
	font-family: 'Roboto Condensed', sans-serif;
	margin: auto;
	color: white;
	text-align: center;
}

.copyright {
	width: 50%;
	height: 30px;
	borsder: 2px solid red;
}

.redes {
	width: 30%;
	height: 30px;
	bordser: 2px solid green;
}

.mitad {
	width: 20%;
}

.redes-tamaño {
	margin: 5px;
}

.redes a {
	color: white;
}

@media screen and (max-width: 430px) {
	.copyright span p {
		font-size: 80%;
	}
}

@media screen and (max-width: 350px) {
	.copyright span p {
		font-size: 70%;
	}
}

