body {
	background-color: rgb(30,30,30);
}



.header {
	background: black;
	display: flex;
	align-items: center;
	width: 100%;
}

@media screen and (max-width: 500px) {
	.header {
		background: black;
		display: block;
		text-align: center;
	}
	.nav {
		width: 315px;
		margin: 0px auto;
	}

	.nav a {
		font-size: 12px;
	}
}

.header img {
	width: 80px;
	margin: 15px;
}

.nav {
	height: 30px;
	padding-top: 10px;
	flex: 2;
	text-align: right;
}

.menu2 {

	margin: 5px;
}


.nav a {
	font-family: 'Roboto Condensed', sans-serif;
	text-decoration: none;
	color: white;
	padding: 10px;
	font-size: 1fr;
}

.menu2:hover {
	background: rgb(40,40,40);
}










.contenedortitulo {
	borfder: 2px solid red;
	text-align: center;
	backsground: grey;
	width: 100%;
	height: 50px;
	margin-top: 20px;
}

.contenedortitulo b {
	font-family: 'Roboto Condensed', sans-serif;
	background: black;
	border-radius: 25px;
	padding: 10px;
	font-size: 40px;
	color: white;
	text-align: center;
}





.caja {
	border-radius: 25px;
	background: black;
	width: 60%;
	margin: 40px auto;
	display: flex;
	text-align: center;
	align-items: center;
}

.caja img {
	border-radius: 25px;
	width: 30%;
	text-align: center;
}

.text {
	border: 2px solid red;
	text-align: right;
	float: right;
	flex: 2;
}

.caja p {
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
	margin: 15px;

}


@media screen and (max-width: 500px) {
	.caja {
	  border-radius: 25px;
	  background: black;
	  margin: 40px auto;
	  display: block;
	  text-align: center;
    }

    .caja img {
    	width: 60%;
    	margin: 20px 0px 0px 0px;
    }
}









.contenedorimagenes {
	margin: 10px auto;
	display: flex;
	justify-content: center;
}


.contenedorimg1 {
	background: black;
	border-radius: 25px;
	text-align: center;
	margin: 10px;
	width: 160px;

}

.contenedorimg1 img {
	width: 50%;
	padding-top:40px;
}


.contenedorimg1 h2  {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	color: white;
	padding-top: 40px;
	padding-bottom: 5px;
	font-size: 100%;
}

.contenedorimg1 a {
	color: white;
	text-decoration: none;
}




.contenedorimg2 {
	background: black;
	border-radius: 25px;
	text-align: center;
	margin: 10px;
	width: 160px;
}

.contenedorimg2 img {
	width: 50%;
	padding-top:40px;
}

.contenedorimg2 h2  {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	color: white;
	padding-top: 40px;
	font-size: 100%;
	padding-bottom: 5px;
}

.contenedorimg2 a {
	color: white;
	text-decoration: none;
}



.contenedorimg3 {
	background: black;
	border-radius: 25px;
	margin: 10px;
	text-align: center;
	width: 160px;
}

.contenedorimg3 img {
	width: 60%;
	padding-top:40px;
}

.contenedorimg3 h2 {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	color: white;
	padding-top: 30px;
	font-size: 100%;
	padding-bottom: 5px;
}

.contenedorimg3 a {
	color: white;
	text-decoration: none;
}


@media screen and (max-width: 500px) {
	.contenedorimagenes {
		display: block;
		width: 161px;
	}

}





.caja2 {
	border-radius: 25px;
	background: black;
	width: 50%;
	margin: 40px auto;
	display: flex;
	justify-content: center;
	align-items: center;

}

.caja2 img { 
	width: 15%;
	background: black;
	border-radius: 20px;
	padding-left: 10px;
}



.caja2 h2 {
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
	margin: 15px 20px;
	text-align: center;
}


@media screen and (max-width: 500px) {
	.caja2 {
		display: block;
		text-align: center;
		width: 80%;
	}

	.caja2 img {
		width: 40%;
		padding:0px;

	}

	.caja2 h2 {
		padding-bottom: 8px;
		font-size: 100%
	}
}







.contenedorfooter {
	background: black;
	padding-top: 30px;
	height: 40px;
	display: flex;

}

.footer {
	background: black;
	width: 100%;
	height: 100%;
}


.copyright span p {
	font-family: 'Roboto Condensed', sans-serif;
	margin: auto;
	color: white;
	text-align: center;
}


@media screen and (max-width: 430px) {
	.copyright span p {
		font-size: 80%;
	}
}

@media screen and (max-width: 350px) {
	.copyright span p {
		font-size: 70%;
	}
}

.copyright {
	width: 50%;
	height: 30px;
	borsder: 2px solid red;
}

.redes {
	width: 30%;
	height: 30px;
	bordser: 2px solid green;
}

.mitad {
	width: 20%;
}

.redes-tamaño {
	margin: 5px;
}

.redes a {
	color: white;
}

